.input {
    background-color: #2F2F37;
    position: relative;
    width: 432px;
    border-radius: 40px;
    padding: 20px 24px;
    border: none;
    margin-bottom: 24px;
}

.input .png {
    position: absolute;
    top: -44px;
    right: -40px;
    width: 24px;
    aspect-ratio: 1 / 1;
}