.left {
    padding-top: 120px;
    width: 320px !important;
}

.nav {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

.button {
    text-decoration: none;
    line-height: 64px;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: left;
    cursor: pointer;
    height: 64px;
}