.nav__links_type_left {
    justify-content: start;
}

.nav__links_type_right {
    justify-content: end;
    
}

.nav__links {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex: 1;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

