.left {
    width: 320px;
}

.nav {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 24px;
}
.button {
    text-decoration: none;
    line-height: 64px;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: left;
    cursor: pointer;
}

.edit__buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: end;
}