.modal {
    background-color: #1C1C21;
    margin: 0 auto;
    border-radius: 40px;
    position: absolute;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 580px;
    height: 64px;
}

.heading svg {
    width: 24px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.content {
    width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

