.content {
    width: 600px;
}

.tab {
    display: flex;
}

.list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: start;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    position: relative;
    width: 272px;
}

.item__img {
    width: 240px;
    height: 120px;
}
.item__price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.name {
    height: 48px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-height: 400px;
    overflow-y: scroll;
}

